// variables
$dark-bg-color: #121212;
$dark-bg-var: #212121;
$text-color: #a0a0a0;

// social media icon colors
$telegram-icon-color: #0088cc;
$facebook-icon-color: #3b5998;
$twitter-icon-color: #1da1f2;
$linkedin-icon-color: #0077b5;
$youtube-icon-color: #ff0000;
$github-icon-color: rgb(240, 246, 252);


// fonts
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Proza+Libre:ital@0;1&display=swap");



@font-face{
  font-family: 'Open Sans'; /* Define the custom font name */
  src:  url('../fonts/articles/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/articles/Open_Sans/OpenSans-Regular.ttf') format('truetype'); /* Define where the font can be downloaded */
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}


@font-face{
  font-family: 'Proza Libre'; /* Define the custom font name */
  src:  url('../fonts/articles/Proza_Libre/ProzaLibre-Italic.woff2') format('woff2'),
        url('../fonts/articles/Proza_Libre/ProzaLibre-Italic.ttf') format('truetype'); /* Define where the font can be downloaded */
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

%flex {
  display: flex;
  align-items: center;
}

@mixin flexColumn {
  @extend %flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flexCenter {
  @extend %flex;
  justify-content: center;
}

@mixin mq($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Proza Libre", sans-serif;
}

p,
div {
  font-family: "Open Sans", sans-serif;
}

ul li {
  list-style: none;
}
