@import "_base.scss";

body {
  display: grid;
  place-items: center;
}

main {
  article {
    margin: 1rem auto;
    max-width: 90%;
    width: 744px;

    #title {
      font-size: 2.8rem;
      margin-bottom: 0.5rem;
    }
    #subtitle {
      font-style: italic;
      margin-top: 0;
      font-size: 1.5rem;
    }

    .share-sns {
      display: flex;
      justify-content: space-between;
      #author {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: max-content;
        #author-img img {
          width: 56px;
          height: 56px;
          box-sizing: border-box;
          background-clip: content-box;
          border: 2px solid transparent;
          border-radius: 50%;
        }
        #name-and-date {
          margin-left: 1rem;
          #author-name {
            font-size: 1.3rem;
          }
          @include mq(500px) {
            #author-name {
              font-size: 1.5rem;
            }
            font-size: 1.3rem;
          }
        }
      }
      #share-btn {
        ul {
          display: flex;
          justify-content: center;
          align-items: center;

          li {
            list-style: none;
            margin: 0 0.5rem;
            font-size: 1.5rem;
            .fa-telegram {
              color: $telegram-icon-color;
            }
            .fa-facebook {
              color: $facebook-icon-color;
            }
            .fa-twitter {
              color: $twitter-icon-color;
            }
            .fa-linkedin {
              color: $linkedin-icon-color;
            }

            &:hover {
              i {
                transform: scale(1.1);
              }
            }

            @include mq(500px) {
              & {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }

    #article-image {
      position: relative;
      margin: 1rem 0;

      img {
        width: 100%;
        border-radius: 10px;
      }

      figcaption {
        text-align: center;
        opacity: 0.7;
      }
    }

    #article-content {
      p {
        font-size: 1.2em;
        line-height: 2.2rem;
        text-anchor: start;

        @include mq(500px) {
          font-size: 2rem;
          line-height: 3rem;
        }
      }
    }
  }
}
