@import "_base.scss";

body {
  background-color: var(--dark-bg-color);
  min-height: calc(100vh - 150px);
}

a {
  color: inherit;
}

#logo {
  fill: var(--text-color);
}

nav {
  background-color: var(--navbar-dark);
  .navbar-brand {
    max-height: 50px;
  }
  a, .dropdown-item {
    color: var(--navbar-dark-text);

    &:hover {
      color: inherit;
    }
  }
  .navbar-brand svg {
    transform: scale(0.7);
  }
  #initB {
    opacity: 25%;
  }
  #collapseMenu {
    ul.dropdown-menu {
      background-color: var(--dark-dropdown-bg);
      border-color: var(--swiper-slide-border);
      // color: var(--navbar-dark-text);
    }
  }

  .nav-item {
    padding-left: 0.75rem;
  }
  #login-nav {
    margin-left: 0 !important;
    label {
      margin-right: 1rem;
      background-color: inherit;
    }
    #settingsDropdown {
      padding-left: 0;
      color: var(--text-color);
      border-color: inherit;
      box-shadow: none;
      i {
        transition: transform 0.5s ease-in-out;
      }
      &:hover,
      &:focus {
        background-color: inherit;
        border-color: inherit;

        i {
          transform: scale(1.2) rotate(360deg);
        }
      }
    }
    .dropdown-menu-custom {
      color: #e0e0e0;
      position: absolute;
      top: 100%;
      left: -100%;
      z-index: 1000;
      display: none;
      min-width: 10rem;
      padding: 0.5rem 0;
      text-align: left;
      list-style: none;
      background-color: #4f4f4f;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;

      .dropdown-item {
        color: inherit;

        &:hover {
          color: #000000;
        }
      }

      @include mq(800px) {
        & {
          left: 0;
        }
      }
    }
    .dropdown-menu-custom.show_me {
      display: inherit;
    }
    #language_selector {
      color: var(--text-color);
      border: none;
      box-shadow: none;
      width: fit-content;
    }

    .theme-toggle {
      .label {
        position: relative;
        background-color: #262626;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        border-radius: 50px;
        height: 26px;
        width: 60px;
        margin-right: 0;

        .fa-moon {
          // color: #f1c40f;
          color: var(--light-bg-color);
        }
        .fa-sun {
          color: var(--sun-color);
        }
      }
      .ball {
        width: 22px;
        height: 22px;
        background-color: var(--sun-color);
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out, background-color 0.3s linear;
      }
      input[type="checkbox"] {
        opacity: 0;
        position: absolute;
      }
      input[type="checkbox"]:checked + .label .ball {
        transform: translateX(33px);
        background-color: var(--light-bg-color);
      }
    }
    a.nav_login {
      display: flex;
      align-items: center;
    }
    a.nav_login::after {
      font-family: "Font Awesome 5 Free";
      content: "\f2f6";
      display: inline-block;
      margin-left: 5px;
      vertical-align: middle;
      font-weight: 900;
    }
  }
}

#particles-js {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  .modal-content {
    background: var(--navbar-dark);
    background-blend-mode: multiply, multiply;

    color: var(--btn-text-color);

    .form-label {
      color: var(--text-color);
    }
    .btn-sign-in {
      background: var(--btn-accent-color);
      color: var(--btn-text-color);
      font-size: inherit;
    }
    button {
      i {
        color: var(--github-icon-color);
        font-size: 1.4rem;
      }
    }
    .btn-facebook {
      background-color: var(--facebook-icon-color);
    }
    .btn-google {
      i {
        &::before {
          content: url("../../../img/google.svg");
        }
      }
    }
    .btn-twitter {
      background-color: var(--twitter-icon-color);
    }
    .btn-github {
      background-color: var(--github2-icon-color);
    }
  }
}

main {
  section.container {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  section#intro {
    @include flexCenter;
    color: var(--text-color);

    .card.intro {
      width: inherit;
      height: fit-content;
      position: relative;
      margin: 30px;
      box-shadow: 20px 20px 50px var(--swiper-slide-border);
      border-radius: 15px;
      background: var(--card-intro-transparent-color);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid var(--card-intro-border-color);
      border-left: 1px solid var(--card-intro-border-color);
      backdrop-filter: blur(5px);
      .intro-img {
        margin: 1%;
        display: grid;
        place-content: center;
      }

      .card-body-parent {
        display: grid;
        place-content: center;
        font-size: 1.1rem;

        @include mq(500px) {
          font-size: 1rem;

          h5 {
            font-size: 1.1rem;
          }
        }
        .card-body {
          i {
            opacity: 0.5;
          }
          h5 {
            font-style: italic;
          }

          p.p1 {
            a {
              i {
                display: none;
                margin-left: 5px;
              }
              &:hover {
                i {
                  display: inherit;
                }
              }
            }
          }

          p.remaining {
            @include mq(800px) {
              display: none;
            }
          }
          .see-more {
            display: none;
            place-content: center;

            i {
              @include mq(800px) {
                line-height: unset;
                margin-left: 5px;
              }
            }
            @include mq(800px) {
              display: grid;
              grid-auto-flow: column;
            }
            p.p1 {
              @include mq(800px) {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  section#abilities {
    .swiper-slide {
      position: relative;
      background: var(--light-bg-color);
      max-width: 300px;
      height: 470px;
      margin: 0 auto;
      border-radius: 10px;

      img {
        width: 100%;
        max-height: 150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      p {
        padding: 1rem;
      }
    }
  }
}

footer {
  background-color: var(--navbar-dark);
  box-shadow: 0px -9px 20px 3px rgba(0, 0, 0, 0.24);
  margin-top: 2rem;
  padding-top: 1rem;
  display: grid;
  place-content: center;

  .input-group {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
  }
  .social-media {
    position: relative;
    background: inherit;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    margin-bottom: 0;
    margin-top: 0.3rem;
    padding-left: 0;

    li {
      margin: 0 1rem;
      cursor: pointer;
      position: relative;

      &:hover {
        transform: scale(1.2);
        transition: transform 0.2s;
      }
      .fa-github {
        color: var(--github-icon-color);
      }
    }
  }

  .brand-logo {
    a {
      font-size: smaller;

      svg {
        max-height: 50px;
        transform: scale(0.7);
        opacity: 0.7;
      }
    }
  }
}

.darkMode {
  --dark-bg-color: white;
  --light-bg-color: #c0c0c0;
  --navbar-dark: $navbar-light-color;
  --navbar-dark-text: $navbar-light-text;
  --dark-dropdown-bg: #ffffff;
  --text-color: $navbar-light-text;
  --text-color2: white;
  // --btn-accent-color: #408bff;
  // --btn-text-color: #f4f5f6;
  // --sun-color: #f39c12;

  // --swiper-slide-border: rgba(0, 0, 0, 0.2);

  --card-intro-border-color: rgba(0, 0, 0, 0.9);
  --card-intro-transparent-color: rgba(0, 0, 0, 0.1);
  --github-icon-color: $github2-icon-color;
}

// @media (prefers-color-scheme: light) {
//   body {
//     background-color: var(--light-bg-color);
//     color: var(--text-color2);

//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     p,
//     label {
//       color: var(--text-color2);
//     }

//     .nav-item a {
//       color: var(--light-bg-color);
//     }
//     #logo {
//       fill: var(--light-bg-color);
//     }
//     .card-body:hover a {
//       color: var(--text-color2 !important);
//     }
//     .modal-content {
//       background: var(--light-bg-color !important);
//       background-blend-mode: multiply, multiply !important;
//       color: var(--text-color2 !important);
//       label.form-label {
//         color: var(--btn-accent-color);
//       }
//       .btn-sign-in {
//         background: var(--btn-accent-color);
//         color: var(--btn-text-color);
//       }
//     }

//     .swiper-slide {
//       background: var(--light-bg-color !important);
//       border: 1px solid var(--swiper-slide-border);
//     }
//   }
// }
